body {
<<<<<<< HEAD
    font-family: Arial, sans-serif;
=======
>>>>>>> 5127a7beea1b885128665f9db73e62e29e8f41bf
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
<<<<<<< HEAD
    background-color: #f0f0f0;
}

.calculadora {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.botao {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

#resultado {
    width: 260px;
    height: 60px;
    text-align: right;
    font-size: 24px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.operador {
    background-color: #f0f0f0;
}

.operador:hover {
    background-color: #ddd;
=======
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.calculator {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.calculator input, .calculator button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 2px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.calculator input {
    width: 212px;
    text-align: right;
    margin-bottom: 10px;
    background-color: #eee;
>>>>>>> 5127a7beea1b885128665f9db73e62e29e8f41bf
}
