* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e7ffd7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 726px;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

.grupo-formulario {
    margin-bottom: 15px;
}

.grupo-formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #464646;
}

.grupo-formulario input,
.grupo-formulario select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.grupo-botoes {
    display: flex;
    justify-content: space-between;
}

.botao {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-enviar {
    background-color: #32c837;
}

.botao-limpar {
    background-color: #f9392b;
}

.botao:hover {
    opacity: 0.9;
}
