body {
    font-family: Arial, sans-serif;
<<<<<<< HEAD
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0010pxrgba(0,0,0,0.1);
}

.header {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

/* Estilos de Formulário */.form-fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fafafa;
}

.form-legend {
    font-weight: bold;
    padding: 010px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
=======
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #e9fcdf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.grupo-formulario {
    margin-bottom: 1rem;
>>>>>>> 22143e1fffc1badb576ec19d531c6bf9147bdd16
}

label {
    display: block;
<<<<<<< HEAD
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"], 
input[type="email"], 
input[type="date"], 
input[type="color"], 
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
}

input[type="radio"] {
    margin-right: 5px;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-grouplabel {
    margin-right: 15px;
}

/* Estilos dos Botões */.form-buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease;
}

.submit-button {
    background-color: #3120a0;
}

.submit-button:hover {
    background-color: #214588;
}

.reset-button {
    background-color: #dc3545;
}

.reset-button:hover {
    background-color: #c82333;
=======
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #c4fafd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 0.5rem;
}

button[type="submit"] {
    background-color: #28a745;
    color: #fff;
}

button[type="reset"] {
    background-color: #dc3545;
    color: #fff;
}

.botoes-formulario {
    text-align: center;
    margin-top: 1rem;
>>>>>>> 22143e1fffc1badb576ec19d531c6bf9147bdd16
}
